.hero {
    background: linear-gradient(rgba(11, 109, 64, 0.9), rgba(119, 187, 149, 0.8));
    color: var(--white);
    padding: 4rem 5%;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .objectives-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem 5%;
  }
  
  .objective-card {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .objective-card:hover {
    transform: translateY(-5px);
  }


.cover-container {
    position: relative;
    width: 100%;
    height: auto; /* Adjust as per your need */
    overflow: hidden;
    margin: auto;
    
  }
  
  
  .cover-photo {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    display: block; 
  }
  
  .overlay-text {
    position: absolute;
    top: 90%;
    left: 75%; 
    transform: translate(-50%, -75%); 
    width: 80%; 
    color: white; 
    text-align: center; 
    font-family: Arial, sans-serif; 
    padding: 20px; 
    z-index: 2;
    border-radius: 10px; 
  }
  
  .overlay-text h1 {
    font-size: 3rem; 
    margin-bottom: 10px;
  }
  
  .overlay-text p {
    font-size: 1.5rem; 
  }
  
  .enroll-button{
    background-color: #0b6d40;
    color: white;
    padding: 1vw;
    font-size: 1vw;
    border-radius: 5px;
    margin-top: 10px; 
  }

  .enroll-button:hover{
    background-color: var(--secondary-green);
  color: var(--white);
  }

.background-content {
    display: flex; 
    align-items: center; 
    gap: 20px; 
    flex-wrap: wrap; 
    padding: 1%;
  }

  .background-image {
    width: 30vw; 
    height: auto; 
    object-fit: cover; 
    border-radius: 8px; 
  }
  
  /* Paragraph styling */
  .background-content p {
    font-size: 1rem; 
    line-height: 1.6; 
    max-width: 60%; 
  }

  .tab-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
  
  .tab-buttons button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 24%;
  }
  
  .tab-buttons button.active {
    background-color: #0b6d40;
    color: #fff;
    border-color: #0b6d40;
  }
  
  .tab-buttons button:hover:not(.active) {
    background-color: #51a375;
    color: white;
  }
  
  .tab-content {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    line-height: 30px;
  }
  
  .mission-statement{
    margin-top: 5%;
  }

  .tab-symbol{
    height: 40px;
    width: auto;
  }

button i{
    font-size: 2rem;
  }

  .tab-image{
    width: 30%;
    height: auto;
  }
  
  
  