.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/*footer */

.footer {
  background-color: #034d2a; /* Dark background for standard footers */
  color: #ecf0f1; /* Light text for contrast */
  padding: 1%;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.footer .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer .col {
  flex: 1;
  min-width: 200px;
}

.footer h2, .footer h3 {
  color: #ffffff;
  margin-bottom: 15px;
}

.footer a {
  color: #85eba7; /* Green for links */
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.social-links a {
  display: inline-block;
  margin-bottom: 10px;
  color: #ffffff; /* Light color for links */
}

.social-links i {
  margin-right: 5px;
  color: #ffffff; /* Light color for icons */
}


@media (max-width: 768px) {
  .footer .row {
    flex-direction: column;
  }
}
